@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root{
  --purple: #6a17a9;
  --brown: #6a2626;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html {
	scroll-behavior: smooth;
}

header{
  height: 10vh;
  background: linear-gradient(45deg, rgba(20,20,20,1) 0%, rgba(106,23,160,1) 78%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

}
body{
  height: 400vh;
  
}


a{
  text-decoration: none;
  color:red;
}


.prueba{
  height: 100vh;
}

.logo{
  width: 10vh;
  height: 10vh;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

.gradientText{
  display: inline-block;
  position: relative;
  animation: background-pan 2s linear infinite;
  transition: 3s;
  
  background: linear-gradient(90deg, rgba(56,56,56,1) 20%, rgba(106,23,169,1) 67%);;
    background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  width: fit-content;
  white-space: nowrap;
  
}

.anchor{
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
}

#Introduccion{
background-color:rgb(20,20,20);
overflow: hidden;
align-items: center;
display: flex;
flex-direction: column;
gap: 5vmin;
justify-content: center;
margin: 0px;
padding: 0px;
}

.description{
  color:wheat;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100vw;
  width: calc(100%-20px);
}

#cards:hover > .card > .card-border{
  opacity: 1;
}

.card{
  background-color: rgba(255, 250, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 20vmax;
  position: relative;
  width: 20vmax;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card > .card-border{
  
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}


.card::before{
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255,255,255,0.06),
    transparent 40%
  );
  z-index: 3;
}

.card > .card-border{
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255,255,255,0.3),
    transparent 40%
  );
  z-index: 1;
}


.card > .card-content{
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  height: calc(100% - 2px);
  margin: 1px;
  width: calc(100% - 2px);
  z-index: 2;
  position: relative;
}

.card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}





#Fondos{
  background-color:rgb(20,20,20);
  width: 100vw;
  overflow: hidden;
  position: relative;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#image-track{
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate( 0%, -50%);
}






#Personajes{
  background-color:rgb(20,20,20);
}

.scene {
  display: inline-block;
  height: 30vw;
  width: 40vh;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.personaje{
  height: 30vw;
  width: 40vh;
}

.carta {
  height: 30vw;
  width: 40vh;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.carta.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  height: fit-content;
  width: fit-content;
  color: white;
  backface-visibility: hidden;
}

.card__face--front {
  background: wheat;
  border-radius: 10px;
}

.card__face--back {
  background: wheat;
  transform: rotateY(180deg);
  border-radius: 10px;

}

.lore{
  padding: 5vmin;
  font-size: 1rem;
}

.cartitas{
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}





#Inspiracion{
  background-color:rgb(20,20,20);
}


.trailer{
  height: 80vh;
  width: 100vw;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  width: 100vw;
  height: 80vh;
}






/*medias*/
@media (max-width: 600px) {
  .cartitas{
    flex-direction: column;
  }
}